{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('show_procs') }}" method=post class=search-form>
        <p>Enter the search term to see matching processes</p>
        <dl>
          <dt>Process:
          <dd><input type=text size=30 name=term>
          <dd><input type=submit value=Search>
        </dl>
    </form>

    <ul class=procs>
    {% if count %}
        <h3>{{ count }} processes found on {{ hostname }}</h3>
        <li><pre>USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND</pre></li>
    {% endif %}

    {% for proc in procs %}
        <li><pre>{{ proc|safe }}</pre></li>
    {% else %}
        <li><em>No processes contain that string.</em></li>
    {% endfor %}
    </ul>
    <hr>
    {% if searches %}
    <h3> Previous searches:
    <form action="{{ url_for('show_procs') }}" method=post class=search-form>
        <ul class=procs>
        {% for search in searches %}
            <li><button name=term type=submit value={{ search.term|safe }} />{{ search.term|safe }}</li>
        {% endfor %}
        </ul>
    </form>
    {% else %}
        <li><em>Nothing has been searched yet.</em></li>
    {% endif %}
{% endblock %}
